<h2 class = "title">Choisissez votre Avatar</h2>
<!-- <div>
    select an image from the user's computer and upload it in the assets/avatar folder
    <input type="file" (change)="onFileSelected($event)">

</div> -->
<div>
    <img class = "avatar" src="assets/avatars/blonde-girl.png" alt="blonde-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/blonde-girl.png' ">
    <img class = "avatar" src="assets/avatars/blonde-guy.png" alt="blonde-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/blonde-guy.png' "> 
    <img class = "avatar" src="assets/avatars/brunette-girl.png" alt="brunette-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/brunette-girl.png' "> 
    <img class = "avatar" src="assets/avatars/music-guy.png" alt="music-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/music-guy.png' ">
    <img class = "avatar" src="assets/avatars/earrings-girl.png" alt="earrings-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/earrings-girl.png' ">  
</div>
<div>
    <img class = "avatar" src="assets/avatars/ginger-girl.png" alt="ginger-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/ginger-girl.png' ">
    <img class = "avatar" src="assets/avatars/hat-girl.png" alt="hat-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/hat-girl.png' ">
    <img class = "avatar" src="assets/avatars/doggo.png" alt="doggo" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/doggo.png' "> 
    <img class = "avatar" src="assets/avatars/mustache-guy.png" alt="mustache-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/mustache-guy.png' ">
    <img class = "avatar" src="assets/avatars/orange-guy.png" alt="orange-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = 'assets/avatars/orange-guy.png' ">
</div>

<!-- <div mat-dialog-actions> -->
    <button class="closeButton" mat-raised-button (click)="this.avatarChoice.close(true)" color="warn">Fermer</button>
<!-- </div> -->
