<h2 class = "title">Choisissez votre Avatar</h2>
<div>
    <label for="files" class="btn">Selectionner une image depuis votre ordinteur</label>
    <input id="files" style="visibility:hidden;" type="file" accept = "image/png, image/jpeg" (change)="onFileSelected($event)">

</div>
<div>
    <img class = "avatar" src="{{this.blondeGirl}}" alt="blonde-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.blondeGirl ">
    <img class = "avatar" src="{{this.blondeGuy}}" alt="blonde-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.blondeGuy "> 
    <img class = "avatar" src="{{this.brunetteGirl}}" alt="brunette-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.brunetteGirl "> 
    <img class = "avatar" src="{{this.musicGuy}}" alt="music-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.musicGuy ">
    <img class = "avatar" src="{{this.earringsGirl}}" alt="earrings-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.earringsGirl ">  
</div>
<div>
    <img class = "avatar" src="{{this.gingerGirl}}" alt="ginger-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.gingerGirl ">
    <img class = "avatar" src="{{this.hatGirl}}" alt="hat-girl" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.hatGirl ">
    <img class = "avatar" src="{{this.doggo}}" alt="doggo" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.doggo "> 
    <img class = "avatar" src="{{this.mustacheGuy}}" alt="mustache-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.mustacheGuy ">
    <img class = "avatar" src="{{this.orangeGuy}}" alt="orange-guy" (click)="this.avatarChoice.close(true); this.authService.chosenAvatar = this.orangeGuy ">
</div>

<!-- <div mat-dialog-actions> -->
    <button class="closeButton" mat-raised-button (click)="this.avatarChoice.close(true)" color="warn">Fermer</button>
<!-- </div> -->
