<app-background></app-background>
<app-user-menu-nav></app-user-menu-nav>

<h1 id="title">Boutique de thèmes</h1>
<hr class="class-1" />

<h2 class="boardThemeTitle">Thèmes du plateau de jeu</h2>

<div class="boardThemes">
    <mat-card *ngFor="let theme of this.themes.boardItems" class="boardTheme">
        <mat-card-header>
            <mat-card-title>{{ theme.name }}</mat-card-title>
            <img class="image" src="{{ theme.theme }}" />
            <button class="buyButton" mat-raised-button color="basic" (click)="addBoardTheme(theme)">Acheter pour {{ theme.price }}XP</button>
        </mat-card-header>
    </mat-card>
</div>

<h2 class="chatroomThemeTitle">Thèmes de la boite de discussion</h2>

<div class="chatroomThemes">
    <mat-card *ngFor="let theme of this.themes.chatItems" class="boardTheme">
        <mat-card-header>
            <mat-card-title>{{ theme.name }}</mat-card-title>
            <img class="image" src="{{ theme.theme }}" />
            <button class="buyButton" mat-raised-button color="basic" (click)="addChatTheme(theme)">Acheter pour {{ theme.price }}XP</button>
        </mat-card-header>
    </mat-card>
</div>

<div class="bottom"></div>
