<app-background></app-background>
  <div class="login">
      <img id="logo-scrabble" src="https://bit.ly/3m206ss" class="not-selectionnable" alt="Logo Scrabble" />

    <!-- Connexion -->
      <div *ngIf ="hasAccount">
        <h2 class="login-header"></h2>
        <form [formGroup]="authForm" class="login-container">

          <p [ngClass]="{ 'has-error': isSubmitted && formControls.pseudonym.errors }">
            <input type="text" placeholder="Pseudonyme" formControlName="pseudonym" [(ngModel)]="pseudonymValue">
          </p>
          <div *ngIf="isSubmitted && formControls.pseudonym.errors && notEmpty" class="help-block">
            <div *ngIf="formControls.pseudonym.errors.required">Veuillez entrer un pseudonyme</div>
          </div>
          <div *ngIf="!validPseudonym" class="help-block">
            <div>Le pseudonyme entré n'existe pas</div>
          </div>

          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" placeholder="Mot de passe" formControlName="password" [(ngModel)]="passwordValue">
          </p>
          <div *ngIf="isSubmitted && formControls.password.errors && notEmpty" class="help-block">
            <div *ngIf="formControls.password.errors.required">Veuillez entrer votre mot de passe</div>
          </div>
          <div class="forgottenPassword">Mot de passe oublié ?</div>
          <div *ngIf="this.errorMessage !== ''" class="errorMessage">{{this.errorMessage}}</div>


          <div id = "buttons">
                <button class="connectButton" mat-raised-button color ="basic" (click)="signIn()">Se Connecter</button>
          </div>

          <div class="createAccount" (click)="hasAccount = false">Pas de compte ? Créez-en un.</div>
        </form>

          <div class="alert" *ngIf="authService.errorHandler.serverError.length">
            {{ authService.errorHandler.serverError }}
           </div>
      </div>

      <!-- Creation de compte -->

      <div *ngIf ="!hasAccount">
        <form [formGroup]="createAccountForm" class="createAccount-container">


          <div class = "signUpHeader">
            <button class="goBack" (click)="hasAccount = true"><mat-icon>arrow_back</mat-icon></button>
            <h2 class="createAccountTitle">Création de compte</h2>
          </div>


          <!--avatar section-->
          <div *ngIf ="this.authService.chosenAvatar === ''" id = "buttons">
            <button mat-flat-button color="basic" class="chooseAvatarButton" (click)="openDialog()">Choisir un avatar</button>
            <div *ngIf="isSubmitted && this.avatarValue === ''" class="help-block">
              <div>Veuillez choisir votre Avatar</div>
            </div>
          </div>
          <div *ngIf ="this.authService.chosenAvatar !== '' ">
            <img src="{{this.authService.chosenAvatar}}" class="avatar" alt="Avatar"/>
            <div class = "changeAvatar" (click)="openDialog()">Changer d'avatar</div>
          </div>

          <!--pseudonym-->
          <p [ngClass]="{ 'has-error': isSubmitted && formControlsCreateAccount.pseudonym.errors }">
            <input type="text" placeholder="Pseudonyme" formControlName="pseudonym" [(ngModel)]="pseudonymValue">
          </p>
          <div *ngIf="isSubmitted && formControlsCreateAccount.pseudonym.errors && notEmpty" class="help-block">
            <div *ngIf="formControlsCreateAccount.pseudonym.errors.required">Veuillez entrer un pseudonyme</div>
          </div>

          <!--email-->
          <p [ngClass]="{ 'has-error': isSubmitted && formControlsCreateAccount.email.errors }">
            <input type="text" placeholder="Adresse courriel" formControlName="email" [(ngModel)]="emailValue">
          </p>
          <div *ngIf="isSubmitted && formControlsCreateAccount.email.errors && notEmpty" class="help-block">
            <div *ngIf="formControlsCreateAccount.email.errors.required">Veuillez entrer votre adresse courriel</div>
          </div>

          <!--password-->
          <p [ngClass]="{ 'has-error': isSubmitted && formControlsCreateAccount.password.errors }">
            <input type="password" placeholder="Mot de passe" formControlName="password" [(ngModel)]="passwordValue">
          </p>
          <div *ngIf="invalidPassword()">
            <div class="invalidPassword">Le mot de passe doit contenir au moins 8 caracteres, 1 majuscule, 1 minuscule et 1 caractère spécial.</div>
          </div>
          <div *ngIf="isSubmitted && formControlsCreateAccount.password.errors && notEmpty" class="help-block">
            <div *ngIf="formControlsCreateAccount.password.errors.required">Veuillez entrer un mot de passe</div>
          </div>

          <!--confirm password-->
          <p [ngClass]="{ 'has-error': isSubmitted && formControlsCreateAccount.confirmPassword.errors }">
            <input type="password" placeholder="Confirmez votre mot de passe" formControlName="confirmPassword" [(ngModel)]="confirmPasswordValue">
          </p>
          <div *ngIf="isSubmitted && formControlsCreateAccount.confirmPassword.errors && notEmpty" class="help-block">
            <div *ngIf="formControlsCreateAccount.confirmPassword.errors.required">Veuillez confirmer votre mot de passe</div>
          </div>

          <!--check if the passwords are the same-->
          <div *ngIf="signUpError !== ''">
            <div class="errorPasswords">
              {{this.signUpError}}
            </div>
          </div>

          <!-- sign up button-->
          <div id = "buttons">
            <button [disabled]="invalidPassword()" class="connectButton" mat-raised-button color ="basic" (click)="signUp()">Créer un compte</button>
          </div>


        </form>
      </div>
</div>
