<app-background></app-background>
<mat-card id="progress-bar-box" *ngIf="rooms.length === 0">
    <p>En attente de création d'une partie</p>
    <mat-spinner mode="indeterminate"></mat-spinner>
</mat-card>
<mat-paginator id="paginator" *ngIf="rooms.length !== 0" [length]="rooms.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
<div *ngIf="!shouldDisplayError">
    <div *ngFor="let room of rooms ? rooms.slice(roomItemIndex, roomItemIndex + pageSize) : []">
        <mat-card class="card">
            <mat-card-title>{{ room.gameSettings.creatorName }} </mat-card-title>
            <br />
            <mat-card-subtitle>
                Minute : {{ room.gameSettings.timeMinute }}
                <br />
                Second : {{ room.gameSettings.timeSecond }}
                <br />
                Nombre de joueurs humains: {{ room.humanPlayersNumber }}
                <br />
                Nombre de joueurs virtuels: {{ room.aiPlayersNumber }}
                <br />
                Nombre d'obervateurs: {{ room.observers.length }} / {{ maxObserversLength }}
            </mat-card-subtitle>
            <mat-card-actions>
                <span>Statut : </span>
                <span
                    [ngClass]="{
                        red: room.state === 0 || room.state === 2,

                        green: room.state === 1
                    }"
                    >{{ computeRoomState(room.state) }}</span
                >
                <br />
                <span>Protection : </span>
                <span
                    [ngClass]="{
                        red: room.gameSettings.type === 1 || room.gameSettings.password !== '',

                        green: room.gameSettings.type === 0
                    }"
                    >{{ computeRoomType(room) }}</span
                >
                <button mat-button color="primary" *ngIf="room.state === 1" (click)="join(room, false)">Joindre</button>
                <button mat-button color="primary" *ngIf="room.state === 0 && room.gameSettings.type === 0" (click)="join(room, true)">
                    Observer
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>
<!-- <button (click)="test()">click me</button> -->
<!-- <div *ngFor="let channel of this.channelHandlerService.channels">
    <mat-card-subtitle>
        {{ channel }}
    </mat-card-subtitle>
</div> -->

<div *ngIf="shouldDisplayError">
    <mat-card class="error-message"><span class="warning">Erreur</span>{{ errorMessage }}</mat-card>
</div>

<div id="buttons">
    <button mat-raised-button routerLink="/home" color="warn">Retour</button>
    <!-- <button
        mat-raised-button
        *ngIf="this.isRoomAvailable && !shouldDisplayNameError && !shouldDisplayJoinError"
        color="primary"
        (click)="placeRandomly()"
        [disabled]="!this.isRandomButtonAvailable"
    >
        Placement aléatoire
    </button> -->
</div>
<div class="chatRooms-buttons">
    <button mat-mini-fab class="addButton tooltip" (click)="openAddChatRoomDialog()"><span class="tooltiptext">Ajouter</span><mat-icon>add</mat-icon></button>
    <button mat-mini-fab class="allRoomsButton tooltip" (click)="openJoinChatRoomDialog()"><span class="tooltiptext">Rejoindre</span><mat-icon>search</mat-icon></button>
    <button mat-mini-fab class="joinedRoomsButton tooltip" (click)="openChangeChatRoomDialog()"><span class="tooltiptext">Changer</span><mat-icon>view_headline</mat-icon></button>
</div>
<app-chatrooms class = "chatRooms"></app-chatrooms>
