<app-background></app-background>
<div class="centered" (keydown)="keyPressSubmit($event)">
    <div id="logo-scrabble"><img src="https://bit.ly/3m206ss" width="400" height="80" class="img-title" alt="Logo Scrabble" /></div>
    <div *ngIf="!this.form" class="loading">
        <div class="container">
            <p>Chargement...</p>
            <div class="progress">
                <div class="progress-value"></div>
            </div>
        </div>
    </div>
    <form id="main-form-box" *ngIf="this.form">
        <fieldset>
            <legend id="main-form-name">Paramètres de la partie</legend>
            <fieldset *ngIf="!gameSettingsService.isRedirectedFromMultiplayerGame" class="form-section" id="player-name-box" disabled>
                <legend>Informations du joueur</legend>
                <app-player-name-field [formGroup]="form" [parentForm]="form"></app-player-name-field>
            </fieldset>
            <fieldset *ngIf="!gameSettingsService.isRedirectedFromMultiplayerGame" class="form-section">
                <legend>Durée</legend>
                <app-timer-field [formGroup]="form" [parentForm]="form"></app-timer-field>
            </fieldset>
            <fieldset class="form-section">
                <legend>Protection de la partie</legend>
                <app-visibility-field [formGroup]="form" [parentForm]="form"></app-visibility-field>
            </fieldset>
            <fieldset *ngIf="gameSettingsService.isSoloMode" class="form-section">
                <legend>Niveau du joueur virtuel</legend>
                <app-level-field [formGroup]="form" [parentForm]="form"></app-level-field>
            </fieldset>
            <fieldset class="form-section">
                <legend>Dictionnaire</legend>
                <mat-form-field [formGroup]="form" appearance="fill">
                    <mat-label>Dictionnaire</mat-label>
                    <mat-select [formControlName]="'dictionaryInput'">
                        <mat-option
                            *ngFor="let dictionary of this.dictionaries"
                            [value]="dictionary.title"
                            (click)="selectGameDictionary(dictionary)"
                        >
                            {{ dictionary.title }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="selectedDictionary">{{ selectedDictionary.description }}.</div>
            </fieldset>
            <fieldset class="form-section">
                <legend>Type de partie</legend>
                <mat-form-field [formGroup]="form" appearance="fill">
                    <mat-label>Type de partie</mat-label>
                    <mat-select [formControlName]="'gameType'">
                        <mat-option
                            *ngFor="let gameType of this.gameTypes; let i = index"
                            [value]="gameType"
                            (click)="selectGameType(i)"
                        >
                            {{ gameType }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="selectedDictionary">{{ selectedDictionary.description }}.</div>
            </fieldset>
        </fieldset>
    </form>
    <div class="buttons">
        <button mat-raised-button *ngIf="this.form" routerLink="/home" id="back-button" color="warn">Retour</button>
        <button
            mat-raised-button
            *ngIf="this.form"
            
            (click)="initializeGame()"
            
            id="submit-button"
            color="primary"
            [disabled]="!form.valid || isDictionaryDeleted"
        >
            Continuer
        </button>
    </div>
    <mat-hint *ngIf="isDictionaryDeleted" class="warning">
        Le dictionnaire {{ selectedDictionary.title }} a été supprimé. Veuillez en choisir un autre.
    </mat-hint>
</div>
<div class="chatRooms-buttons">
    <button mat-mini-fab class="addButton tooltip" (click)="openAddChatRoomDialog()"><span class="tooltiptext">Ajouter</span><mat-icon>add</mat-icon></button>
    <button mat-mini-fab class="allRoomsButton tooltip" (click)="openJoinChatRoomDialog()"><span class="tooltiptext">Rejoindre</span><mat-icon>search</mat-icon></button>
    <button mat-mini-fab class="joinedRoomsButton tooltip" (click)="openChangeChatRoomDialog()"><span class="tooltiptext">Changer</span><mat-icon>view_headline</mat-icon></button>
</div>
<app-chatrooms class = "chatRooms"></app-chatrooms>

