.chatRoom {
    height: 49vh;
    width: 25vw;
    overflow: hidden;
    border-radius: 6px;
    background-image: linear-gradient(0deg, #000000 25%, #005634 25%, #005634 50%, #000000 50%, #000000 75%, #005634 75%, #005634 100%);
    background-size: 4px 4px;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    background-color: #00804d;
    color: white;
    top: 0;
    right: 0;
    outline: none;
    line-height: 0px;
    width: auto;
}

.sendButton {
    background-color: #00804d;
    color: white;
    text-align: center;
    line-height: 0px !important;
    padding: 12px 10px 10px 10px !important;
}

.title {
    background-color: #00804d;
    color: white;
    text-align: center;
}

.noChatRoom {
    //center the text
    color: white;
    margin-top: 30px;
    text-align: center;
}

.conversation {
    margin-top: -10px;
    margin-bottom: 0px;
    height: 330px;
    overflow-y: auto;
    word-break: break-word;
}

.text {
    color: white;
    padding: 15px 15px;
}

.sendMessage {
    //put in the bottom of the box
    //make this class always stay at the bottom of the div
    position: absolute;
    bottom: 0;
    //make the width of the div
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    // margin-top: 200px;
}

.closedChat {
    transition: all 0.5s ease;
    user-select: none;
    position: absolute;
    bottom: 0.5px;
    right: 10px;
    height: 40px;
    width: 350px;
    background-color: #00804d;
    overflow: hidden;
    border-radius: 10px;
}

.closedChat:hover {
    cursor: pointer;
}

.textClosedChat {
    margin-top: 5px;
    text-align: center;
    color: white;
}

input {
    width: 80%;
    height: 25px;
    outline: none;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
button {
    width: 20%;
    height: 31px;
}
