.title {
    text-align: center;
    font-size: 24px;
    color: rgb(35,80,31);
}

.error {
    color: red;
    margin-top : 15px;
    //center the text
    text-align: center;
}

.info {
    color : rgb(67, 67, 67);
}

.info2 {
    color : rgb(67, 67, 67);
    margin-top : 15px;
    margin-bottom: 15px;
    text-align: center;
}

.exit {
    margin-top : -10px;
    margin-right: -10px;
    margin-left : 440px;
    color : rgb(35,80,31);
    cursor : pointer;
    //double the size of the mat-icon
    transform:scale(1.2);
}

input {

    text-align: center;
    display: block;
    margin: 0 auto;
    width: 200px;
    border: 2px solid rgb(35,80,31);
    border-radius: 5px;
    padding: 5px;
    margin-bottom : 20px;
}

button {

    display: block;
    margin: 0 auto;
   
}