.title {
    text-align: center;
    font-size: 24px;
    color: rgb(35,80,31);
}

input {
    //center the input, widen it, make it have green borders
    display: block;
    margin: 0 auto;
    width: 200px;
    border: 2px solid rgb(35,80,31);
    border-radius: 5px;
    padding: 5px;
    margin-bottom : 20px;
}

button {


    display: block;
    margin: 0 auto;
   
}