<div>

    <div class = "exit" (click)="this.passwordForgotten.close()"><mat-icon>clear</mat-icon></div>

    <h1 class="title">Veuillez entrer votre pseudonyme valide</h1>
    
    <input placeholder="Pseudonyme" [(ngModel)]="pseudonym">

    <p class="info">Si votre courriel est valide, vous recevrez votre mot de passe par courriel.</p>

    <div *ngIf="errorMessage !== ''">
        <p class="error">{{errorMessage}}</p>
    </div>

    <button class="closeButton" mat-raised-button [disabled]="!pseudonym" (click)="this.checkPseudonym()" color="warn">Envoyer</button>

</div>
