.container {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: teal;
    width: 100%;
    align-items: center;
    padding: 1em 0;

    /* not selectionnable */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button-container {
    display: inline-block;
    margin-top: 0.5em;
}

label {
    font-size: 16px;
    color: white;
}

input {
    width: 1.25em;
}

button {
    margin-left: 1em;
}
