<div class="container">
    <div class="fake-menu">
        <div class="fake-buttons fake-close"></div>
        <div class="fake-buttons fake-minimize"></div>
        <div class="fake-buttons fake-zoom"></div>
    </div>

    <h2>Panneau d'information</h2>
    <div id="players-list">
        <p id="reserve-info">Nombres de lettres dans la réserve : {{ letterService.reserveSize }}</p>
        <!-- <hr />
        <div
            [ngClass]="{ 'player-turn': playerService.currentPlayer.isTurn}"
        >
            <p>
                <span *ngIf="playerService.currentPlayer.isTurn">></span>
                Nom : {{ playerService.currentPlayer.name }}
            </p>

            <p>Score : {{ playerService.currentPlayer.score}}</p>
            <p *ngIf="playerService.currentPlayer.letterTable.length !== 7">Nombre de lettres sur le chevalet : {{ playerService.currentPlayer.letterTable.length }}</p>

            <div class="timer" *ngIf="playerService.currentPlayer.isTurn ">
                Joueur actif<br />
                Temps restant au tour : {{ skipTurnService.minutes }}:{{ displaySeconds() }}
            </div>
        </div>
        <hr /> -->
        <div *ngFor="let player of playerService.players" [ngClass]="{ 'player-turn': player.isTurn }">
            <p>
                <span *ngIf="player.isTurn">></span>
                Nom : {{ player.name }}
            </p>

            <p>Score : {{ player.score }}</p>
            <p *ngIf="player.letterTable.length !== 7">Nombre de lettres sur le chevalet : {{ player.letterTable.length }}</p>

            <div class="timer" *ngIf="player.isTurn">
                Joueur actif<br />
                Temps restant au tour : {{ skipTurnService.minutes }}:{{ displaySeconds() }}
            </div>
            <button
                *ngIf="this.authService.currentUser.isObserver && player.isAi && !player.isTurn"
                mat-raised-button
                color="primary"
                (click)="playerService.replaceAi(player)"
            >
                Remplacer
            </button>
            <hr />
        </div>
    </div>
    <div *ngIf="endGameService.isEndGame">
        La partie est terminée. Félicitations à {{ this.endGameService.getWinnerName() }} qui est le vainqueur!!
    </div>
</div>
