<h1>{{ 'myChannels' | translate }}</h1>

<div *ngIf="userChatsRooms.length === 0">
    <p>{{ 'noChannels' | translate }}</p>
</div>
<div *ngIf="userChatsRooms.length !== 0">
    <mat-radio-group class="radio-group" [(ngModel)]="selectedChatRoom">
        <mat-radio-button
            color="primary"
            class="radio-button"
            value="solo"
            [disabled]="disableJoinCurrentRoom(chatRoom)"
            *ngFor="let chatRoom of userChatsRooms"
            [value]="chatRoom"
            >{{ chatRoom.chatRoomName }},{{ 'by' | translate }}{{ chatRoom.creator.pseudonym }}
            <button
                mat-button
                color="warn"
                (click)="leaveChatRoom(chatRoom)"
                *ngIf="chatRoom.chatRoomName !== this.chatRoomService.chatRooms[0].chatRoomName"
            >
                {{ 'quit' | translate }}
            </button>
        </mat-radio-button>
    </mat-radio-group>
</div>
<button
    class="button"
    id="playButton"
    mat-raised-button
    color="primary"
    (click)="changeChatRoom(); this.changeChatRoomDialogRef.close(true); firstSelection()"
>
    {{ 'change' | translate }}!
</button>

<div mat-dialog-actions>
    <button class="close-button" mat-raised-button mat-dialog-close (click)="this.changeChatRoomDialogRef.close(true)" color="warn">
        {{ 'close' | translate }}
    </button>
</div>
