<app-background></app-background>

<!-- <mat-card id="progress-bar-box">
    <mat-spinner *ngIf="isWaiting" mode="indeterminate"></mat-spinner>
</mat-card> -->
<div *ngIf="!shouldDisplayError">
    <div class="waiting-players-container">
        <div class="display" #scrollMe>
            <div id="list-display" *ngFor="let player of playerService.players; let i = index; let last = last">
                <p>
                    <span *ngIf="player.isCreator" class="creator"> Createur :</span>
                    <img src="{{ player.avatar }}" class="avatar" alt="Avatar" />
                    {{ player.name }}
                </p>
                <hr style="color: black; width: 90%; height: 1px; background-color: black" />
            </div>
        </div>
    </div>
</div>

<button
    *ngIf="this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="primary"
    id="submit-button-1"
    (click)="startGame()"
>
    Commencer
</button>

<button
    *ngIf="this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="warn"
    id="submit-button-1"
    (click)="deleteGame()"
>
    Annuler
</button>

<button
    *ngIf="!this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="warn"
    id="submit-button-1"
    (click)="leaveGame()"
>
    Quitter
</button>

<!-- <button
    *ngIf="!this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="warn"
    id="submit-button-1"
    (click)="leaveGame()"
>
    Annuler
</button> -->

<div *ngIf="shouldDisplayError">
    <mat-card class="error-message"
        ><span class="warning">Erreur: {{ errorMessage }}</span></mat-card
    >
</div>
