<app-background></app-background>

<!-- <mat-card id="progress-bar-box">
    <mat-spinner *ngIf="isWaiting" mode="indeterminate"></mat-spinner>
</mat-card> -->
<div *ngIf="!shouldDisplayError">
    <div class="waiting-players-container">
        <div class="display" #scrollMe>
            <div id="list-display" *ngFor="let player of playerService.players; let i = index; let last = last">
                <p>
                    <span *ngIf="player.isCreator" class="creator"> > Createur :</span>
                    {{ player.name }}
                </p>
                <hr style="color: black; width: 100%; height: 1px; background-color: black" />
            </div>
        </div>
    </div>
</div>

<button
    *ngIf="this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="primary"
    id="submit-button-1"
    (click)="startGame()"
>
    Commencer
</button>

<button
    *ngIf="this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="warn"
    id="submit-button-1"
    (click)="deleteGame()"
>
    Annuler
</button>

<button
    *ngIf="!this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="warn"
    id="submit-button-1"
    (click)="leaveGame()"
>
    Quitter
</button>

<!-- <button
    *ngIf="!this.playerService.currentPlayer.isCreator && !shouldDisplayError"
    mat-raised-button
    color="warn"
    id="submit-button-1"
    (click)="leaveGame()"
>
    Annuler
</button> -->

<div *ngIf="shouldDisplayError">
    <mat-card class="error-message"
        ><span class="warning">Erreur: {{ errorMessage }}</span></mat-card
    >
</div>

<div class="chatRooms-buttons">
    <button mat-mini-fab class="addButton tooltip" (click)="openAddChatRoomDialog()">
        <span class="tooltiptext">Ajouter</span><mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab class="allRoomsButton tooltip" (click)="openJoinChatRoomDialog()">
        <span class="tooltiptext">Rejoindre</span><mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab class="joinedRoomsButton tooltip" (click)="openChangeChatRoomDialog()">
        <span class="tooltiptext">Changer</span><mat-icon>view_headline</mat-icon>
    </button>
</div>
<app-chatrooms class="chatRooms"></app-chatrooms>
