<h2 mat-dialog-title>Creation du mot de passe de la partie</h2>

<div *ngIf = !this.changeToPasswordInput>

    <div mat-dialog-content>
        <mat-label>Voulez vous creer un mot de passe?</mat-label>
    </div>
    <br />
    <br />
    <br />
    <div mat-dialog-actions>
        <button mat-button (click)="this.gamePasswordDialogRef.close(null)" color="warn">Non</button>
        <button
            mat-raised-button
            (click)="this.changeToPasswordInput = true"
            color="warn"
            >
            Oui
        </button>
    </div>

</div>


<div *ngIf = this.changeToPasswordInput>
    <div mat-dialog-content id="form-name">
        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput [formControl]="form" />
            <mat-hint>
                {{ passwordSize.min }}-{{ passwordSize.max }} caractères
                <br />
                Les 4 premiers caractères doivent être des lettres
                <br />
                {{ specialChar }} autorisés
            </mat-hint>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button  color="warn" (click)="this.gamePasswordDialogRef.close(null)" >Fermer</button>
        <button mat-raised-button (click)="this.gamePasswordDialogRef.close(this.form.value)" color="primary" [disabled]="!form.valid">
            Confirmer
        </button>
    </div>


</div>
