<div id="container">
    <div id="side-bar">
        <app-information-panel id="information-panel"></app-information-panel>
        <div id="buttons">
            <button
                [disabled]="authService.currentUser.isObserver"
                mat-raised-button
                color="primary"
                id="play-button"
                [disabled]="!this.boardHandlerService.word.length"
                (click)="this.boardHandlerService.confirmPlacement()"
            >
                Jouer
            </button>
            <div id="wrapper">
                <button
                    mat-raised-button
                    color="primary"
                    id="regular-button-1"
                    [disabled]="!playerService.currentPlayer.isTurn || this.skipTurnService.shouldNotBeDisplayed || this.endGameService.isEndGame"
                    (click)="this.chatBoxService.sendPlayerMessage('!passer')"
                >
                    Passer son tour
                </button>
                <button
                    mat-raised-button
                    color="primary"
                    id="regular-button-1"
                    [disabled]="!playerService.currentPlayer.isTurn || this.skipTurnService.shouldNotBeDisplayed || (this.playerService.currentPlayer.letterTable.length !== 7 || this.endGameService.isEndGame)"
                    (click)="openBestActionsDialog()"
                >
                    Meilleurs coups
                </button>
                <div
                    *ngIf="
                        !endGameService.isEndGame &&
                        !gameSettingsService.isSoloMode &&
                        !giveUpHandlerService.isGivenUp &&
                        !authService.currentUser.isObserver
                    "
                >
                    <button mat-raised-button color="warn" id="regular-button-3" (click)="confirmGiveUpGame()">Abandonner</button>
                </div>
                <div *ngIf="authService.currentUser.isObserver">
                    <button mat-raised-button color="warn" id="regular-button-3" (click)="confirmLeaveByObserver()">Quitter</button>
                </div>
                <audio controls #audio class="audio">
                    <source src=" https://docs.google.com/uc?export=download&id=1-iRhSChJbr53df3HcJB4ApZxtq5a2Aec" type="audio/mpeg" />
                </audio>
                <audio controls #encou class="audio">
                    <source src=" https://docs.google.com/uc?export=download&id=1NrCnDFh6i7by3WfL-Tcnt6G-PLzjdoNL" type="audio/mpeg" />
                </audio>
                <audio controls #decou class="audio">
                    <source src=" https://docs.google.com/uc?export=download&id=1-iRhSChJbr53df3HcJB4ApZxtq5a2Aec" type="audio/mpeg" />
                </audio>
            </div>
            <app-font-size id="font-size" [fontSize]="fontSize" (sizeChange)="handleFontSizeEvent($event)"></app-font-size>
        </div>
    </div>
    <app-scrabble-board id="scrabble-board" tabindex="0"></app-scrabble-board>
    <app-letter-easel id="letter-easel"></app-letter-easel>
    <div id="chatbox">
        <app-chatbox></app-chatbox>
    </div>
</div>
<div class="chatRooms-buttons">
    <button mat-mini-fab class="addButton tooltip" (click)="openAddChatRoomDialog()">
        <span class="tooltiptext">Ajouter</span><mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab class="allRoomsButton tooltip" (click)="openJoinChatRoomDialog()">
        <span class="tooltiptext">Rejoindre</span><mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab class="joinedRoomsButton tooltip" (click)="openChangeChatRoomDialog()">
        <span class="tooltiptext">Changer</span><mat-icon>view_headline</mat-icon>
    </button>
</div>
<app-chatrooms class="chatRooms"></app-chatrooms>

<app-background [isDark]="!playerService.currentPlayer.isTurn"></app-background>
