<app-background></app-background>
<app-user-menu-nav></app-user-menu-nav>
<h1 id="title">Paramètres</h1>
<hr class="class-1" />

<div class="avatarChange">
    <img src="{{ this.authService.currentUser.avatar }}" class="avatarImage">
    <button class="avatarChangeButton" mat-raised-button color="basic" (click)="openChangeAvatarDialog()">Modifier votre avatar</button>
</div>
<hr class="class-2" />
<h2>Pseudonyme</h2>
<div class="changePseudonym">
    <input class="pseudonymInput" placeholder="{{this.authService.currentUser.pseudonym}}" [(ngModel)]="newPseudonym">
</div>
<div class="pseudoButtonCenter">
    <button class="pseudonymChangeButton" mat-raised-button color="basic" (click)="changeUser()">Sauvegarder les changements</button>
</div>

<h1 id="title">Personnalisation de l'application</h1>
<hr class="class-1" />

<h2>Thèmes de l'application</h2>
<div class="centered">
    <mat-form-field appearance="fill">
    <mat-label>Thème par défault</mat-label>
    <mat-select>
        <mat-option>
        </mat-option>
    </mat-select>
    </mat-form-field>
</div>

<h2 class="separateTitles">Thèmes du plateau de jeu</h2>

<div class="centeredModification">
    <input class="modificationPlaceholder" placeholder="Par défaut" readonly disabled="disabled">
    <button (click)="openChangeBoardTheme()"><mat-icon>create</mat-icon></button>
</div>


<h2 class="separateTitles">Thèmes de la boite de discussion</h2>

<div class="centeredModification">
    <input class="modificationPlaceholder" placeholder="Par défaut" readonly disabled="disabled">
    <button (click)="openChatroomTheme()"><mat-icon>create</mat-icon></button>
</div>


<h2 class="separateTitles">Langues</h2>
<div class="centered">
    <mat-form-field appearance="fill">
    <mat-label>Français</mat-label>
    <mat-select>
        <mat-option>
        </mat-option>
    </mat-select>
    </mat-form-field>
</div>

<div class="chatRooms-buttons">
    <button mat-mini-fab class="addButton tooltip" (click)="openAddChatRoomDialog()">
        <span class="tooltiptext">Ajouter</span><mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab class="allRoomsButton tooltip" (click)="openJoinChatRoomDialog()">
        <span class="tooltiptext">Rejoindre</span><mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab class="joinedRoomsButton tooltip" (click)="openChangeChatRoomDialog()">
        <span class="tooltiptext">Changer</span><mat-icon>view_headline</mat-icon>
    </button>
</div>

<app-chatrooms class="chatRooms"></app-chatrooms>

<div class="bottom"></div>
