<app-background></app-background>
<app-user-menu-nav></app-user-menu-nav>
<div></div>
<div class="userProfile">
    <img src="{{ this.authService.currentUser.avatar }}" class="avatar" alt="Avatar" />
</div>
<div class="justified">
    <img id="logo-scrabble" src="https://bit.ly/3m206ss" class="not-selectionnable" alt="Logo Scrabble" />
    <mat-tab-group>
        <mat-tab>
            <mat-radio-group class="radio-group" [(ngModel)]="selectedGameMode">
                <mat-radio-button color="primary" class="radio-button" value="solo" *ngFor="let mode of gameModes" [value]="mode">
                    {{ 'main.page.mode' | translate: { mode: mode } }}
                </mat-radio-button>
            </mat-radio-group>
        </mat-tab>
    </mat-tab-group>
    <button class="button" id="playButton" mat-raised-button [disabled]="!selectedGameMode" color="primary" (click)="routeToGameMode()">
        Jouer!
    </button>
    <p>
        {{ selectedGameMode }}
    </p>
    <button class="button" id="resetButton" mat-raised-button [disabled]="!selectedGameMode" color="warn" (click)="this.selectedGameMode = undefined">
        {{ 'eraseChoice' | translate }}
    </button>
    <br />

    <button class="button" mat-raised-button color="primary" (click)="changeLanguage(1)">
        {{ 'main.page.section.languages.english' | translate }}
    </button>

    <button class="button" mat-raised-button color="primary" (click)="changeLanguage(0)">
        {{ 'main.page.section.languages.french' | translate }}
    </button>
</div>

<div class="chatRooms-buttons">
    <button mat-mini-fab class="addButton tooltip" (click)="openAddChatRoomDialog()">
        <span class="tooltiptext">{{ 'add' | translate }}</span
        ><mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab class="allRoomsButton tooltip" (click)="openJoinChatRoomDialog()">
        <span class="tooltiptext">{{ 'join' | translate }}</span><mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab class="joinedRoomsButton tooltip" (click)="openChangeChatRoomDialog()">
        <span class="tooltiptext">{{ 'change' | translate }}</span><mat-icon>view_headline</mat-icon>
    </button>
</div>
<app-chatrooms class="chatRooms"></app-chatrooms>
