p {
    margin-top: 10px;
    text-align: center;
}

#playButton {

    margin-top: 20px;
    margin-bottom: 20px;
    top : 30%;
}

.test {background-color: red;}

.hovertext {
    position: relative;
    border-bottom: 1px dotted grey;
}

.display-chat {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;

    position: absolute;
    // z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.tab-group {
    padding: 20px 0;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding: 0 0 0 10px;
}

.radio-button {
    margin: 8px;
}

.avatar {
    //put the element on the top right corner of the screen
    position: absolute;
    top: 30px;
    right: 15px;
    height : 60px;
    width : 60px;
    border-radius : 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}
.notif {
    //put the element on the top right corner of the screen
    position: absolute;
    top: 100px;
    right: 15px;
    height : 60px;
    width : 60px;
    border-radius : 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #23501f;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: ' ';
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #23501f transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.chatRooms-buttons {
    position: absolute;
    bottom: 10px;
    right: 400px;
}

.addButton {
    background-color: #00804d;
    margin-right: 10px;
}

.allRoomsButton {
    background-color: #00804d;
    margin-left: 10px;
    margin-right: 10px;
}

.joinedRoomsButton {
    background-color: #00804d;
    margin-left: 10px;
}

.chatRooms {
    //put the chatrooms at the botton left of the page
    position: absolute;
    bottom: 10px;
    right: 10px;
}
