.radio-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -10px;
    margin-bottom:0px;
    max-height: 200px;
    overflow-y: scroll;
    word-break: break-word;
}
.radio-button {
    margin-bottom: 10px;
}

.span {
    right : 0;
}

h1 {
    color : #00804d;
}

.button {
    margin-top: 10px;
}

.mat-form-field {
    //make the width the max of the dialogRef
    width: 300px;
    margin-bottom: 10px;
}

[hidden] {
    display: none !important;
  }
