<div id="chat-box" class="chat-box">
    <div class="fake-menu">
        <div class="fake-buttons fake-close"></div>
        <div class="fake-buttons fake-minimize"></div>
        <div class="fake-buttons fake-zoom"></div>
    </div>

    <h2>{{ 'partyChat' | translate }}</h2>

    <div class="display" #scrollMe>
        <p
            id="list-display"
            *ngFor="let message of sendMessageService.clientSocketService.currentRoom.roomMessages; let i = index; let last = last"
            [ngClass]="{
                playerStyle: sendMessageService.listTypes[i] === htmlTypeMessage.Player,
                systemStyle: sendMessageService.listTypes[i] === htmlTypeMessage.System,
                errorStyle: sendMessageService.listTypes[i] === htmlTypeMessage.Error
            }"
        >
            <img src="{{ message.avatar }}" class="avatar" alt="Avatar" /> {{ message.pseudonym }} : {{ message.text }}
            <span id="time">{{ message.time }}</span>
        </p>
    </div>

    <input type="text" placeholder="{{ 'enterMessage' | translate }}" maxlength="512" [(ngModel)]="message" (keypress)="handleKeyEvent($event)" />
</div>
