.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c4eede;
    overflow-x: hidden;
    transition: 0.5s;
}

hr.class-1 {
    border-top: 2px solid #23501F;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#logo-scrabble {
    width: 80%;
}

.openbtn {
    margin-top : 15px;
    margin-right : 10px;
    color: #23501F;
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30%;
    top: 0;
    align-items: center;
    // background: linear-gradient(90deg, rgba(55, 105, 58, 1) 0%, rgba(56, 207, 165, 1) 56%, rgba(84, 203, 180, 1) 100%);
    color: #f5fbf3;
    // text-shadow: 1px 1px 1px #a9da9f;
    margin-bottom: 20px;
}

p {
    color: black;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidenav .mat-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 15px;
}

.item-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
