<h1>{{ 'createChannel' | translate }}</h1>
<div class="creation">
    <mat-form-field>
        <input matInput placeholder="{{ 'channelName' | translate }}" [(ngModel)]="chatRoomName" />
    </mat-form-field>
    <button mat-button [disabled]="!validChatRoomName()" (click)="this.addChatRoomDialogRef.close(true); this.createChatRoom()">
        {{ 'create' | translate }}
    </button>
</div>
<div class="errorMessage">
    <p *ngIf="!validChatRoomName()">{{ errorMessage | translate }}</p>
    <p *ngIf="!validChatRoomName() && errorMessage === 'errorMin5carac'">
        {{ secondErrorMessage | translate }}
    </p>
</div>
<div mat-dialog-actions>
    <button class="close-button" mat-raised-button mat-dialog-close (click)="this.addChatRoomDialogRef.close(true)" color="warn">
        {{ 'close' | translate }}
    </button>
</div>
