.alert {
    width: 28em;
    margin: 0 auto;
    margin-top: 15em;
    text-align: center;
    padding-top: 1em;
    border: 3px solid red;
    border-radius: 1rem;
    background-color: white;
    padding: 0.25em;
    font-size: 16px;
    color: #bb0909fd;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.invitationList{
    display: flex;
    border-bottom: 2px solid greenyellow;
}
.pseudo{
    width: 100px;

}
.wrapper{
   overflow-y: auto;
   overflow-x: hidden;
   height: 500px;
}
.inviteButton{
    float: right;
    right: 0;
    height: 35px;
    align-content: flex-end;
    margin-top: 5px;
}